<div class="flex-sb news-item">
    <div class="flex-sb">
        <div>
            <h1>{{newsItem.picture}}</h1>
        </div>
        <div>
            <h1>{{newsItem.title}}</h1>
            <h1>{{newsItem.info | slice: 0:20}}</h1>
        </div>
    </div>
    <div class="flex-sb">
        <h1>{{newsItem.date}}</h1>
        <div class="item-buttons">
            <button [routerLink]="['edit', '5']"  (click)="onEdit(newsItem)">Edit</button>
            <button (click)="onDelete(newsItem)">Delete</button>
        </div>
    </div>
</div>
