<div class="header-main-flex-container container-border">
    <h1>Source name</h1>
    <div class="flex-sb container-border">
        <select>
            <option>1 option</option>
            <option>2 option</option>
            <option>3 option</option>
        </select>
        <div class="news-fliter">
            <input type="text">
            <button>Filter</button>
        </div>
        <div class="flex-sb">
            <input type="checkbox" name="" value="" checked>
            <p>Only created by me</p>
        </div>
        <button routerLink="/edit" >Add Article</button>
    </div>
</div>