<div class="header-main-flex-container container-border">
    <h1>{{sourceName}}</h1>
    <div class="flex-sb container-border">
        <select (change)="onPublisherChange($event)">
            <option *ngFor="let publisher of publishersList"
                    value={{publisher.id}}>
                    {{publisher.name}}
            </option>
        </select>
        <div class="news-fliter">
            <input (change)="resetFilterQuery($event)" type="text">
            <button (click)="onFilterChange()" >Filter</button>
        </div>
        <div class="flex-sb">
            <input type="checkbox" (click)= "getUserArticles()" unchecked>
            <p>Only created/edited by me</p>
        </div>
        <button routerLink="/edit" >Add Article</button>
    </div>
</div>